*{
    font-family: system-ui, sans-serif;
}

body{
    background-color: antiquewhite;
}

.main-div{
    background-color: aliceblue;

    margin: 20px auto;

    width: 600px;

    padding: 30px;
    
}

.imagem-receitas{
    width: 500px;
    height: auto;

    margin: auto;

    display: block;

}

h1{
    font-size: 36px;
    color: rgb(82, 4, 4);
    text-align: center;
}